<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/icons/favicon.ico">
		<title>PWQM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style>
      #legend_container > img {
        float: left;
        margin: 0 auto;
      }
    </style>
	</head>
	<body>
		<h2>
			<p align="center">Participatory Water Quality Mapping</p>
		</h2>
    <div class="wrapper">
      <section class="columns">
        <div class="column">
          <div id="map" style="width: 100%; height: 100%"></div>
          <script>
              // Create variable to hold map element, give initial settings to map
              var map = L.map('map',{ center: [<%= wb_options[0][1] %> ], zoom: <%= wb_options[0][3] %>});
              L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { 
                  attribution: '© OpenStreetMap'
              }).addTo(map);
                //Below is JS way to deal with map not loading 
                //all tiles on load as described here
                //https://stackoverflow.com/questions/38832273/leafletjs-not-loading-all-tiles-until-moving-map
                var delayInMilliseconds = 600; //1 second
                  setTimeout(function() {
                    map.invalidateSize();
                }, delayInMilliseconds); 
                //See: https://stackoverflow.com/questions/37121005/when-i-json-stringifyobject-i-get-a-crazy-string-as-a-value
                //and: https://stackoverflow.com/questions/11151632/passing-an-object-to-client-in-node-express-ejs/18106721              
                <%if (locals.geojsonStations) { %>
                  var geojsonStations = <%- JSON.stringify(geojsonStations) %>;
                  L.geoJSON(geojsonStations).addTo(map);
                <% } %>
          
                <%if (locals.geojsonGrid) { %>
                  // Do something with more than 1 recipe
                  var geojsonGrid = <%- JSON.stringify(geojsonGrid) %>;
                  L.geoJSON(geojsonGrid, {style: nitroStyle}).addTo(map);
                  delay_load_legend();
                <% } %>

                function color(x) {
                  return x > 1063 ? '#08519C' :
                      x > 896 ? '#3182BD' :
                      x > 754 ? '#6BAED6' :
                      x > 684 ? '#BDD7E7' :'#EFF3FF';				  
                };

                function nitroStyle(feature) {
                  return {
                    fillColor: color(feature.properties.est_nitrogen),
                    weight: .25,
                    opacity: 1,
                    color: 'white',
                    fillOpacity: 0.85
                  };
                };


                function delay_load_legend() {
                    myVar = setTimeout(insert_legend, 250);
                }

                function insert_legend(){
                  var img = document.createElement("img");
                  img.src = "nitro_legend.png";
                  img.style.width = "175px";
                  img.style.height = "200px"; 
                  var src = document.getElementById("legend_container");
                  src.appendChild(img);
                }
          </script>
        </div>
        
        <div class="column">
          <div id="legend_container"></div>
          <label for="waterbody">Select a water body</label>
          <form id="water_body_frm_id" 
            action="/select_water_body" 
            method="post"
            name="water_body_frm">
            <select name="water_body" onchange="this.form.submit()">
              <% wb_options.forEach(function(wb_options){ %>
                <option value="<%= wb_options[0] %>" <%= wb_options[2] %>><%= wb_options[0] %></option>
              <% }) %>
            </select>
            <!--<input type="submit"/>-->
          </form>
          <form id="water_body_frm_interp" 
            action="/interp_water_body" 
            method="post"
            name="water_body_frm_interp">
            <label class="radio-inline">
              <input type="radio" name="optradio" checked>Mixed nitrogen
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" disabled>Dissolved oxygen
            </label>
            <label class="inline">
              <input type="submit" value="Interpolate" name="Interpolate" id="Interpolate">
            </label>
          </form>
          <hr size="5">
          <p>Upload new water quality data:</p>
          <form id      =  "uploadForm"
            enctype   =  "multipart/form-data"
            action    =  "/upload_csv"
            method    =  "post">
            <input type="file" name="userFile" />
            <input type="submit" value="Upload File" name="submit">
          </form>
          <hr size="5">
          <p>Latest uploads: </p>
          <table style="width:100%" border=".25">
            <tr>
              <th>Organization</th>
              <th>Date</th> 
              <th>Characteristic(s)</th>
            </tr>
            <tr>
              <td>Bream Fishermen Association</td>
              <td>1/12/19</td>
              <td>DO</td>
            </tr>
            <tr>
              <td>UWF Water Academy</td>
              <td>1/17/19</td>
              <td>NI, DO</td>
            </tr>
            <tr>
              <td>UWF Water Academy</td>
              <td>1/10/19</td>
              <td>DOS; DO Saturated</td>
            </tr>
          </table>
        </div>
      </section>	
      <footer>
          <h3>About:</h3>
          <p>Developed by Morgan & Adkison (2019) in conusultation with Dr. Schwartz and Dr. Snider
            of the University to support the proposed the creation of a Escambia Water Quality Academy (EWQA)</p>
            <p>Previous iterations of this project are:</p>
            <ul>
              <li>Adkison's undergraduate <a href="https://jderekito.github.io/water_quality/index2.html" target="_blank">project</a></li>
              <li>Evan's undergraduate <a href="https://jderekito.github.io/water_quality/" target="_blank">project</a></li>
            </ul>
      </footer>
		</div>
	</body>
</html>
